@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.headings {
    text-align: center;
    font-family: 'Pattaya', sans-serif;
}

.align-center {
    text-align: center;
    
}

/*----- Flash messages -----*/

#flash-msg {
    margin-top: 10px;
    font-weight: 600;
}

/*----- Credit: for sticky footer: https://css-tricks.com/couple-takes-sticky-footer/ -----*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/*-----/End of Credit -----*/

.logo {
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
    color: #000;
}

.logo:hover {
    text-decoration: none;
    color: rgb(255, 127, 80);
}

.nav-hover {
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.nav-hover:hover {
   
    color: rgb(255, 127, 80);
    text-decoration: none;
}

#bg-image {
    background: url("../images/hero-img.jpg") center center no-repeat;
    width: auto;
    height: 75vh;
    background-size: cover;
    text-align: center;
}

#cta-text {
    font-family: 'Pattaya', sans-serif;
    font-size: 60px;
    margin-top: 10%;
}

.cta-btn {
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-weight: 600;
    color: #000;
    background: rgb(255, 127, 80);
    margin: auto 0;
    text-decoration: none;
    box-shadow: 2px 2px 2px;
}

.cta-btn:hover {
    color: #f5eded;
    background:#000;
    text-decoration: none;
  
}

.about-section {
    padding: 20px 0 20px 0;
}

.about-section h2 {
    font-family: 'Pattaya', sans-serif;
    margin-top: 20px;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

/*---------- Login/Sign Up ----------*/

#login-header {
    margin-top: 40px;
}

#login-sign-up-cta {
    margin-top: 15px;
    display: inline-flexbox;
}

#login-sign-up {
    background: rgba(78, 75, 75, 0.068);
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
}

/*---------- Footer ----------*/
footer {
    background-color: rgb(255, 127, 80);
}

footer p {
    margin-top: 25px
}

#github-icon {
    font-size: 40px;
    color: #000;
}

#github-icon:hover {
    color: #fff;
}

/*----- @media queries -----*/
@media screen and (max-width: 575px) {

#cta-text {
    font-family: 'Pattaya', sans-serif;
    margin-top: 50%;
    font-size: 50px;
}

}

