{% extends "base.html" %}

{% block content %}

<div class="profile-bg">
    <div class="row ">
        <div class="col-12">
            <h1 class="headings heading-margin">{{ username }}'s Cookbook</h1>
        </div>
        <div class=" col-12 col-md-8">
            <div class="align-center">
                <h5 id="edit-heading"> <strong> Edit : {{ recipe.recipe_name }}</strong></h5>
            </div>
            <div class="row">
                <div id="edit-form" class="sm-12 col-lg-6 offset-lg-3">
                    <!-- Credit: Form from Bootstrap -->
                    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                        <div class="mb-3">
                            <label for="recipe_name" class="edit-form-headings form-label">Name of Recipe</label>
                            <input value="{{ recipe.recipe_name }}" type="text" class="form-control" name="recipe_name"
                                id="receipe_name" required>

                        </div>
                        <div class="mb-3">
                            <label for="description" class="edit-form-headings form-label">Description</label>
                            <textarea type="text" class="form-control" name="description" id="description" required>
                                {{- recipe.description -}}
                        </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="instructions" class=" edit-form-headings form-label">Cooking
                                Instructions</label>
                            <textarea type="text" class="form-control" name="instructions" id="instructions" required>
                                {{- recipe.instructions-}}
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="ingredients" class="edit-form-headings form-label">Ingredients</label>
                            <textarea type="text" class="form-control" name="ingredients" id="ingredients"
                                placeholder="Please list each ingredient on a separate line" required>
                                {{- recipe.ingredients-}}
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="cooking-time" class="edit-form-headings form-label">Prep and Cooking
                                Time</label>
                            <input value="{{ recipe.cooking_time }}" type="text" class="form-control" name="cooking_time"
                                id="cooking-time" required>
                        </div>
                        <div class="form-group">
                            <label class="edit-form-headings" for="type">Type of Meal</label>
                            <select value="{{ recipe.type }}" class="form-control-small" name="type" id="type"> 
                                <option>Breakfast</option>  
                                <option>Lunch</option>
                                <option>Dinner</option>
                                <option>Dessert</option>
                                
                            </select>
                        </div>
                        <div id="btn-upload-recipe" class="align-center">
                            <button type="submit" class="btn cta-btn">Submit</button>
                            <p id="reminder-p"><strong>Check you have the correct meal type before you submit</strong></p>
                            <a href="{{ url_for('profile') }}">Cancel chances</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- List of the users recipes -->
        <div class=" col-12 col-md-3">
            <div class="align-center">
                <h5 class="sub-headings">My Cookbook</h5>
            </div>
            <div class="my-recipes">
                <ul class="list-group align-center">

                    {% for recipe in users_cookbook %}

                    <li class="list-group-item">
                        <a class="recipe-li" href="/profile/{{ recipe._id }}">{{ recipe.recipe_name }}</a><br>
                        <a class="delete-btn" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                        <a class="edit-btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}