{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12" id="bg-image">
            <h1 id="cta-text">A Recipe Database For Foodies</h1>
            <button class="cta-btn cneter"> Sign Up</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 about-section">
            <h2>Sharing is Caring </h2>
            <article>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugiat voluptatibus, quaerat, fugit
                ad mollitia officiis velit perferendis ratione explicabo recusandae voluptate non, dolor est ducimus
                tenetur incidunt nihil id. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum atque ut eius
                porro ad reprehenderit numquam, quis voluptas, at id veritatis repellat voluptatem, laudantium vitae
                possimus nam asperiores odio soluta.
            </article>
        </div>
    </div>
</div>



{% endblock %}