{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12" id="bg-image">
            <h1 id="cta-text">A Recipe Database For Foodies</h1>
            <a class="cta-btn" href="{{ url_for('signup') }}">Sign Up</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 about-section">
            <h2>Sharing is Caring </h2>
            <article class="align-center">
                Do you love food and cooking? Are you always on the look out to try a new recipe or are you a creative
                foodie that has come up with your own brilliant recipes that should be shared with the world?
                <br>
                <br>
                The Recipe Database is your very own cookbook. Build your own portfolio of recipes to share with other
                users. Search through the recipes uploaded by others to try for yourself. Click <a id="text-link"
                    href="{{ url_for('signup') }}">here</a> to get signed up.
            </article>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        {% for recipe in sample %}
        <div class="col-12 col-md-4 align-center">
            <!-- Credit: Card from Bootstrap and then customised -->
            <a class="cards cards-layout" href="/profile/{{ recipe._id }}">
                <div class="card" style="width: 18rem;">
                    <img src="{{ recipe.image }}" class="card-img-top recipe-image" alt="{{ recipe.image_alt }}">
                    <div class="card-body">
                        <h5 class="card-title"> {{ recipe.recipe_name}}</h5>
                        
                        <h6>By: {{ recipe.created_by }}</h6>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}