{% extends "base.html" %}

{% block content %}

<h1 id="login-header" class="headings">Login</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-md-3 col-md-6">
            <!-- Credit: Form Bootstrap -->
            <div id="login-sign-up">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            placeholder="email" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="password"
                            id="exampleInputPassword1">
                        <!-- </div>
                    <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                    </div>
                    <button type="submit" class="cta-btn">Log in</button>
                    <div id="login-sign-up-cta" class="align-center">
                        <h5>Not got an account?</h5>
                        <a href="" id="sign-up-btn">Sign Up</a>
                    </div>

                </form>
            </div>
        </div>



    </div>
</div>

{% endblock %}