{% extends "base.html" %}

{% block content %}

<div class="profile-bg">
    <div class="row ">
        <div class="col-12">
            <h1 class="headings heading-margin">{{ username }}'s Cookbook</h1>
        </div>
        <div class=" col-12 col-md-8">
            <div class="align-center">
                <h5>Upload a Recipe</h5>
            </div>
            <div class="row">
                <div id="recipe-form" class="sm-12 col-lg-6 offset-lg-3">
                    <!-- Credit: Form from Bootstrap -->
                    <form method="POST" action="{{url_for('profile') }}">
                        <div class="mb-3">
                            <label for="recipe_name" class="form-label">Name of Recipe</label>
                            <input type="text" class="form-control" name="recipe_name" id="receipe_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" name="description" id="description"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="instructions" class="form-label">Cooking Instructions</label>
                            <textarea type="text" class="form-control" name="instructions" id="instructions"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="ingredients" class="form-label">Ingredients</label>
                            <textarea type="text" class="form-control" name="ingredients" id="ingrediants"
                                placeholder="Please list each ingredient on a separate line" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="cooking-time" class="form-label">Prep and Cooking Time</label>
                            <input type="text" class="form-control" name="cooking_time" id="cooking-time" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Type of Meal</label>
                            <select class="form-control-small" name="type" id="type">
                                <option>Breakfast</option>
                                <option>Lunch</option>
                                <option>Dinner</option>
                                <option>Dessert</option>
                            </select>
                        </div>
                        <div id="btn-upload-recipe" class="align-center">
                            <button type="submit" class="btn cta-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class=" col-12 col-md-4">
            <div class="align-center">
                <h5>My Cookbook</h5>
            </div>
            <div class="my-recipes">
                <ul class="list-group align-center">

                    {% for recipe in users_cookbook %}

                    <li class="list-group-item">
                       
                        <a href="/profile/{{ recipe._id }}">{{ recipe.recipe_name }}</a>
                    </li><br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}