{% extends "base.html" %}


{% block content %}

<h1 class="headings heading-margin"> Recipes</h1>

<div id="cards-layout" class="row">
    {% for recipe in recipes %}
    <div class="col-12 col-md-4 align-center ">
        <!-- Credit: Card from Bootstrap and then customised -->
        <a id="cards" href="#">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ recipe.recipe_name}}</h5>
                    <p class="card-text"> {{ recipe.description}}</p>
                    <h6>By: {{ recipe.created_by }}</h6>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>








{% endblock %}