{% extends "base.html" %}

{% block content %}

<h1 id="login-header" class="headings">Sign Up</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-md-3 col-md-6">
            <!-- Credit: Form Bootstrap -->
            <div id="login-sign-up">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            placeholder="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"><small>We will never share your email with anyone else.</small></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="password"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Re-enter password</label>
                        <input type="password" name="password" class="form-control" placeholder="Re-enter password"
                            id="exampleInputPassword1">
                    </div>
                    <div class="align-center">
                    <button type="submit" class="cta-btn"> Create Account</button>
                    <div id="login-sign-up-cta">
                        <h5>Already got an Account?</h5>
                        <a href="{{ url_for('login') }}" id="sign-up-btn">Click here to login</a>
                    </div>
                </div>

                </form>
            </div>
        </div>



    </div>
</div>

{% endblock %}